<%- include('partials/header') %>
<main>
        <div class="page">
            <!-- <form th:action="@{/cadastro/atualizar}" method="POST" id="cadastrarForm" th:object="${cadastro}"
                class="formLogin"> -->
    
                <h1>Formulario de cadastro</h1>
    
                <label for="id">Nome:</label>
                <input type="text" th:field="*{id}" placeholder="Digite seu nome" class="form-control" readonly />
    
                <label for="nome">Emai:</label>
                <input th:field="*{nome}" placeholder="Digite seu email" type="text" name="nome" id="nome" />
    
                <label for="Estado" th:for="${#ids.next('estado')}">Escolha o Estado</label>
                <select th:field="*{estado}" name="estado" id="estado">
                    <option value=""></option>
                    <option value="sp">São Paulo</option>
                    <option value="rj">Rio de Janeiro</option>
                    <option value="parana">Paraná</option>
                    <option value="minas">Minas Gerais</option>
                    <option value="bahia">Bahia</option>
                </select>
            </form>
        </div>
</main>
<%- include('partials/footer') %>