<%- include('partials/header') %>
<main>
        <div class="page">
            <!-- <form th:action="@{/cadastro/atualizar}" method="POST" id="cadastrarForm" th:object="${cadastro}"
                class="formLogin"> -->
    
                <h1>Formulario de cadastro</h1>
    <form method="post" action="/newcontact">
        <label for="Estado" th:for="${#ids.next('estado')}">Escolha o Estado</label>
        <select id="estado" name="estado" onchange="atualizarCidades()" required>
            <option value="estado">Selecione um estado</option>
            <option value="AM">São Paulo</option>
            <option value="BA">Bahia</option>
            <option value="MG">Minas Gerais</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="SP">São Paulo</option>
        </select>

                <label for="cidade">Cidades</label>
                <select name="estado" id="estado" required>
                    <option value=""></option>
                    <option value="sp">São Paulo</option>
                    <option value="rj">Rio de Janeiro</option>
                    <option value="parana">Paraná</option>
                    <option value="minas">Minas Gerais</option>
                    <option value="bahia">Bahia</option>
                </select>
            </form>
        </div>
</main>
<%- include('partials/footer') %>